body {
    font-family: Futura, sans-serif;
}

table#goban {
    background-color: #E6AC5E;
    background-image: url(images/goban.jpg);
    border-collapse: collapse;
    height: 500px;
    margin: 2em auto;
    -moz-box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.5);
    table-layout: fixed;
    text-shadow: 0 1px hsla(0, 50%, 100%, 0.5);
    -webkit-box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.5);
    width: 500px;
}

table#goban th {
    font-size: 0.75em;
}

table#goban td {
    background-image: url(images/grid-intersection.png);
    background-position: 50% 50%;
    xheight: 50px;
    margin: 0;
    padding: 0;
    position: relative;
    xwidth: 50px;
}

div.grid {
    background: #000;
    border: 1px solid red;
}

table#goban tr:first-of-type + tr td {
    background-image: url(images/grid-edge-top.png);
}

table#goban tr:first-of-type + tr td:first-of-type {
    background-image: url(images/grid-corner-top-left.png);
}

table#goban tr:first-of-type + tr td:last-of-type {
    background-image: url(images/grid-corner-top-right.png);
}

table#goban tr:first-of-type td:first-of-type {
    background-image: url(images/grid-corner-top-left.png);
    border: 1px solid blue;
}

table#goban td:first-of-type {
    background-image: url(images/grid-edge-left.png);
}

table#goban td:last-of-type {
    background-image: url(images/grid-edge-right.png);
}

table#goban tr.last td {
    background-image: url(images/grid-edge-bottom.png);
}

table#goban tr.last td:first-of-type {
    background-image: url(images/grid-corner-bottom-left.png);
}

table#goban tr.last td:last-of-type {
    background-image: url(images/grid-corner-bottom-right.png);
}

table#goban tr.starpoint td.starpoint {
    background-image:  url(images/grid-starpoint.png);
}

span.stone {
    display: block;
    height: 100%;
    margin: 0;
    -moz-border-radius: 50%;
    -moz-box-shadow: 0 0 0.7em hsla(0, 0%, 0%, 0.7);
    padding: 0;
    position: relative;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0 0 0.7em hsla(0, 0%, 0%, 0.7);
    width: 100%;
}

span.stone.white {
    background-image: -moz-radial-gradient(35% 35% 45deg, circle closest-side, #fff 0%, #ccc 100%);
    background-image: -webkit-gradient(radial, 35% 35%, 0, 35% 35%, 20, from(#fff), to(#ccc));
}

span.stone.black {
    background-image: -moz-radial-gradient(35% 35% 45deg, circle closest-side, #555 0%, #000 100%);
    background-image: -webkit-gradient(radial, 35% 35%, 0, 35% 35%, 20, from(#555), to(#000)); 
}
